/*fonts*/
@import url("https://fonts.cdnfonts.com/css/highscore-hero");
@import url("https://fonts.cdnfonts.com/css/zombie-control");
@import url("https://fonts.cdnfonts.com/css/qtmilitary");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');



html {
    background: rgb(179,78,10);
    background: radial-gradient(circle, rgba(179,78,10,1) 0%, rgba(54,36,24,1) 100%);
}

.audio{
  display: none
  }

#splash-screen {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 40% 20%;
  justify-items: center;
  height: 80vh;
  width: 90vh;
  margin: 0 auto;
  background-image: url("./images/backgrounds/start.jpg");
  background-position: center;
  background-size: cover;
  border: 4px #080808 solid;
}

#input-name {
  width: 15vh;
  height: 3vh;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 25vh;
  background-color: black;
  color: rgb(255, 236, 202);
  font-family: "QTMilitary", sans-serif;
  text-align: center;
  

}

/* PANTALLA START*/
#splash-screen h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 5rem;
  font-family: "Highscore Hero", sans-serif;
  font-weight: 400;
  color: rgb(180, 3, 20);
  font-weight: 700;
  text-shadow: 10px 10px 10px rgb(63, 10, 19);
  margin: 0.5vh;
}

#start-button  {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-family: "Zombie Control", sans-serif;
  font-size: 2.5rem;
  border: 0;
  height: 10vh;
  width: 50vh;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  text-shadow: 0 0 30px #fff;
  box-shadow: 0 0 20px rgb(180, 3, 20);
  color: rgb(103, 10, 19);
}

#start-button:hover {
  color: rgb(180, 3, 20);
  box-shadow: 0 0 50px rgb(180, 3, 20);
}

/*PANTALLA INTRO*/
#intro-screen {
  border: 4px #080808 solid;
  height: 90vh;
  width: 89.3vh;
  margin: 0 auto;
  background-image: url('./images/backgrounds/intro1.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 2rem;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text {
  text-align: center;
  color: #000000;
  text-shadow: 0px 0px 10px white;
  font-family: "QTMilitary", sans-serif;
  margin: 15vh;
  margin-top: 10vh;
}

#intro-screen button{
  font-family: "QTMilitary", sans-serif;
  font-size: 1.5rem;
  border: 0;
  height: 8vh;
  width: 90vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.36);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  text-shadow: 0 0 30px #fff;
  color: #fff;
  border-radius: 10%;
}

.intructions {
  border-radius: 5%;
  width: 90vh;
  height: 50vh;
  margin-top: 7vh;
  color: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.intructions div{
  border-left: 3px #080808 solid;

  background-color: rgb(98 45 10 / 50%);
  
}


#napalm-ani {
  background-image: url('./gif/napalmgif.gif');
  padding: 10vh;
  background-position: center;
  background-size: cover;
  border: 3px rgb(103, 10, 19) solid;
  
}

#shot-ani {
  background-image: url("./gif/shootgif.gif");
  padding: 10vh;
  background-position: left;
  background-size: cover;
  border: 3px rgb(103, 10, 19) solid;
}

#move-ani {
  background-image: url("./gif/movegif.gif");
  padding: 10vh;
  background-position: center;
  background-size: cover;
  background-position: bottom;
  border: 3px rgb(103, 10, 19) solid;
}



/* PANTALLA GAME*/

#game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 80vh;
  margin: 0 auto;
  font-family: "QTMilitary", sans-serif;
  font-size: 1.5rem;
}


#value-nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  gap: 8vh;
  margin-bottom: 3vh;
}

#value-nav div{
  box-shadow: 0 0 20px rgb(180, 3, 20);
  background: rgb(179,78,10);
  background: radial-gradient(circle, rgba(179,78,10,1) 30%, rgba(104,36,24,1) 100%);
  border: 1px #080808 solid;
  border-radius: 5%;
  font-family: "QTMilitary", sans-serif;
  font-size: 1.5rem;
  width: 18vh;
}

#value-nav h6{
font-size: 1.5rem;
}



#game-screen canvas, #game-screen img {
  border: 4px #080808 solid;
  box-shadow: 0 0 20px rgb(180, 3, 20);
}

.kills span{
  font-size: 2rem;
  font-family: 'Bungee Spice', cursive;
}

.healths span{
  font-size: 2rem;
  font-family: "QTMilitary", sans-serif;
  color: darkred;
}

.evacuation span{
  font-size: 2rem;
  color: darkblue;
  font-family: "QTMilitary", sans-serif;
}

/* PANTALLA LOSER*/

#loser-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 80vh;
  box-shadow: 0 0 20px rgb(180, 3, 20);
  border: 4px #080808 solid;
}

#loser-screen h1 {
  font-size: 6rem;
  font-family: "Zombie Control", sans-serif;
  color: rgb(150 31 17);
  text-shadow: 10px 10px 10px rgb(63, 10, 19);
  
}

#loser-screen h4 {
  font-size: 2rem;
  margin: 8vh;
  text-shadow: 10px 10px 10px rgb(63, 10, 19);
  color: rgb(255, 236, 202);
  font-family: "Highscore Hero", sans-serif;
}

#loser-screen h3 {
  font-size: 2rem;
  margin: 8vh;
  text-shadow: 10px 10px 10px rgb(63, 10, 19);
  color: rgb(255, 236, 202);
  font-family: "Highscore Hero", sans-serif;
}


.try-again {
  font-family: "QTMilitary", sans-serif;
  font-size: 1.5rem;
  border: 0;
  height: 10vh;
  width: 20vh;
  background-color: rgb(138 64 14);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  text-shadow: 0 0 30px rgb(255, 111, 8);
  box-shadow: 0 0 20px rgb(180, 3, 20);
  color: black;
}

.try-again:hover {
  color: rgb(180, 3, 20);
  box-shadow: 0 0 50px rgb(211 98 23);
  background-color: rgb(211 98 23);
}

#final-button {
  display: flex;
  gap: 5vh;
}


#inferno {
  background-image: url('./gif/inferno.gif');
  background-position: center;
  font-family: "Zombie Control", sans-serif;
  color: white;
  
  
}

#inferno:hover {
  color: black;
  box-shadow: 0 0 50px burlywood;
  font-size: 1.8rem;

  
}

/*hiden elements*/

#die-gif {
  display: none
}

#win-gif {
  display: none
}